* {
    margin: 0;
    padding: 0;
}

.paras {
    width: 49%;
    display: inline-block;
}

body{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}

.btn {
    border-radius: 20px 20px 0 20px;
    border: 1px solid black;
    outline: none;
}

input{
    border-radius: 20px 20px 0 20px;
    border: 2px solid black;
    height: 30px;
    width: 350px;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
}

.para {
    max-width: 550px;
    font-weight: 500;
    display: block;
    margin: auto;
}